@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);

body {
  margin: 0;
  padding: 0;
}

.title-main {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #000000, #a59b9b, #000000);
  font-family: "banhschrift", sans-serif;
  font-weight: 500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.text-white {
  color: #fff;
}
.leading-loose {
  line-height: 1.75;
}
.tracking-wide {
  letter-spacing: 0.05em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.heading-answer {
  font-family: monospace;
}

.back-button,
.back-button2 {
  cursor: pointer;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #936f6f, #ffffff);
  font-weight: 500;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.back-button:hover {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ffbb00, #fffb00);
  font-family: monospace;
}

.back-button2 {
  font-size: 20px;
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: "bahnschrift", sans-serif;
}

.back-button2:hover {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #7f7d76, #2c2c2a);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: "bahnschrift", sans-serif;
}
