@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(https://db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "bahnschrift", sans-serif;
}

.scroll-container {
  overflow: hidden;
  height: 100vh; /* Adjust height as needed */
}

.scroll-content {
  display: flex;
  flex-direction: column;
  animation: scroll 50s linear infinite; /* Adjust duration as needed */
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.heading {
  font-size: 40px;
  font-weight: 400;
}

.paragraph {
  margin-top: 50px;
  font-weight: 300;
  width: 500px;
}

.back-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 20px;
}

.back-button:hover {
  background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text transparent */
  background-image: linear-gradient(to right, #ffffff, #a27e7e);
}
