@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.canvas {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.safari-filter {
  filter: blur(10px); /* Adjust the blur value according to your requirement */
}
